<section class="portfolio">
  <%= render partial: "pages/partials/surfcheck" %>
  <%= render partial: "pages/partials/sprachspiel" %>
  <%= render partial: "pages/partials/growstartups" %>
  <%= render partial: "pages/partials/railsmentor" %>
  <%= render partial: "pages/partials/barteringapps" %>
  <%= render partial: "pages/partials/portfoliopage" %>
</section>
