<section class="portfolio">
<div class="container" id="portfolio">
	<h1 style="color:red;" class="center">RailsMentor</h1>
	<div class="center">
		<a href="https://github.com/fabriziobertoglio1987/railsmentor", class="header-link"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
		<a href="https://railsmentor.herokuapp.com", class="header-link", style="color:blue;"><i class="fa fa-link fa-2x hidden-sm hidden-md hidden-lg" aria-hidden="true"></i><h2 class="hidden-xs">https://railsmentor.herokuapp.com</h2></a>
	</div>	
	<p>
	My lastest app is a fork from the following <a href='https://github.com/ArtOfCode-/qpixel'>github repository</a>, I wrote Rspec test for it, edited some code and built some new functionalities
	</p>
	<div class="container image" id="container-mentor">
		<a href="https://railsmentor.herokuapp.com"><%= image_tag "railsmentor.png", class: "portfolio image" %></a>
	</div>	
</div>


<div class="container">
	<h1 style="color:red;" class="center">SprachSpiel</h1>
	<div class="center">
		<a href="https://github.com/fabriziobertoglio1987/sprachspiel", class="header-link"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
		<a href="https://sprachspiel.herokuapp.com/", class="header-link", style="color:blue;"><i class="fa fa-link fa-2x hidden-sm hidden-md hidden-lg" aria-hidden="true"></i><h2 class="hidden-xs">https://sprachspiel.herokuapp.com/</h2></a>
	</div>	
	<p>Built with Ruby on Rails 5.1, Turbolinks 5 and <a href="https://github.com/rails/rails/tree/master/actioncable">ActionCable</a>, the App allows users to practice their German Speaking skills by immerging themself in a game set in the Middle Ages, where users will have a role between Farmers, Blacksmiths, Soldiers or Kings.. Endless possibilities of extension and fun, for making it an addicting game like <a href="https://en.wikipedia.org/wiki/Travian">Travian</a> or many other, but with the <strong>educative</strong> advantage!</p>
	<p>Many new functionalities will come in the future, right now players can join as Farmers or Blacksmith, trade resources, buy/build products like Bread, Weapons(swords, shields), Tools(hammers, workings benches, knifes, etc.. ), use them or sell them to others.. All this tools will become more useful in the future!</p>
	<p>The game includes an ingame chat, which every user can use to negotiate, trade or agree on alliances in every area of the game. The chat was built using <a href="https://blog.heroku.com/real_time_rails_implementing_websockets_in_rails_5_with_action_cable">ActionCable</a>, the rest are the usual gems so Devise, Bootstrap, Turbolinks 5 (the Apps looks very nice for mobile), postgresql, redis, simple_form, many animations with Jquery-ui to add some screens to the mobile devices, testing using real smartphone in development as a Chrome Remote device (Huawei LUA-U22) and responsive for all Devise Iphone, Nexus, Android ...
	</p>
	<p>Available for Desktop, Mobile and Tablet, possible launch to the App Stores in the future</p>
	<div class="container image">
		<a href="https://sprachspiel.herokuapp.com"><%= image_tag "sprachspiel.png", class: "portfolio image" %></a>
	</div>	
</div>

<div class="container">
	<h1 style="color:red;" class="center">GrowStartups</h1>
	<div class="center">
		<a href="https://github.com/fabriziobertoglio1987/freeAdsWorldwide", class="header-link"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
		<a href="https://growstartups.herokuapp.com", class="header-link", style="color:blue;"><i class="fa fa-link fa-2x hidden-sm hidden-md hidden-lg" aria-hidden="true"></i><h2 class="hidden-xs">https://growstartups.herokuapp.com</h2></a>
	</div>	
	<div class="center"><h2 style="color:blue;"></h2></div>
	<p>Startups can use the app to distribute fliers in different cities around the world (for free through mutual aggrement). The app was built with Ruby on Rails 5.1 and Turbolinks 5, for a very fast page reload between 50-100ms. Developed responsively with Bootstrap and for the publishing in the Mobile App stores (<a href="https://github.com/turbolinks/turbolinks-ios">Turbolinks IOS</a> and <a href="https://github.com/turbolinks/turbolinks-android">Turbolinks Android</a>), the app allows users to print other members fliers with the <a href="https://github.com/prawnpdf/prawn">Prawn pdf GEM</a>. Fliers will include a shortened URL and a QR Code, automatically included with Prawn PDF, that allows tracking of views and statistics. 
	<p>Partial, but not complete testing of controllers and models with Rspec and Capybara, upload of pictures with Carrierwave, management of QR code with <a href="https://github.com/whomwah/rqrcode">RQRcode</a>, forms with the <a href="https://github.com/plataformatec/simple_form">Simple Form gem</a>, Jquery-UI animations...
	</p>
	<p>Available for Desktop, Mobile and Tablet, possible launch to the App Stores in the future</p>
	<div class="container image">
		<a href="https://growstartups.herokuapp.com"><%= image_tag "growstartups.png", class: "portfolio image" %></a>
	</div>
</div>


<div class="container">
	<h1 style="color:red;" class="center">Bartering Apps</h1>
	<div class="center">
		<a href="https://github.com/fabriziobertoglio1987/SocialNetwork", class="header-link"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
		<a href="https://barteringapps.herokuapp.com", class="header-link", style="color:blue;"><i class="fa fa-link fa-2x hidden-sm hidden-md hidden-lg" aria-hidden="true"></i><h2 class="hidden-xs">https://barteringapps.herokuapp.com/</h2></a>
	</div>
	<p>Bartering Apps was my first Web Application developed with Ruby on Rails. I am a Developer since 2012, but before I was working with SAP and ABAP Backend Development. I developed the app inspired from the story of Lukas Sommer who traveled the world exchanging his skills for Accomodation and Meals, so check out his webpage <a href="goodthingseverywhere.com/">goodthingseverywhere</a> and <a href="https://nomadlist.com/blog/bartering-skills">his story</a>. BarteringApps is a social networking app connected with Facebook, authentication is performed with <a href="https://github.com/plataformatec/devise">Devise GEM</a> and Facebook omniauth, the app is hosted on Heroku, pictures are uploaded to Amazon S3 with <a href="https://github.com/carrierwaveuploader/carrierwave">carrierwave</a>. The app includes tags that are used in the jobs/freelancers search criterias done with the <a href="https://github.com/mbleigh/acts-as-taggable-on">act-as-taggable-on GEM</a>.
	The app is available for Mobile, Tablet and Desktop and it is built with Bootstrap. Users that log in will be able to add some info and search either for a Developer to host and build their apps or for a Location... 
	Queries can be performed based on different criterias and users can see some pictures of the locations where they will live..</p>
	<p>
	BarteringApps provides also startups some basic functionalities for managing their projects, so they can track their projects, task, ads, employees with the SASS Application, give and receive feedback...
	</p>

	<p>DB initially mysql2, then I switched to postgresql, deployment to Heroku</p>
	<p>Available for Desktop, Mobile and Tablet, possible launch to the App Stores in the future</p>

	<div class="container image">
		<a href="https://barteringapps.herokuapp.com"><%= image_tag "barteringapps.png", class: "portfolio image" %></a>
	</div>
</div>

<div class="container">
	<h1 style="color:red;" class="center">Portfolio</h1>
	<div class="center">
		<a href="https://github.com/fabriziobertoglio1987/portfolio", class="header-link"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
		<a href="https://fabriziobertoglio.xyz/", class="header-link", style="color:blue;"><i class="fa fa-link fa-2x hidden-sm hidden-md hidden-lg" aria-hidden="true"></i><h2 class="hidden-xs">https://fabriziobertoglio.xyz</h2></a>
	</div>
	<p>This website was my first app built for Learning <span>Ruby on Rails</span> in January 2017. the header is a video background which is one of my favorite features of HTML5. I started using Javascript for development in March 2015 through <a href="https://codecademy.com">Codecademy</a>. The website includes my portfolio and my blog. All my apps are deployed with Heroku, so thanks Heroku for the free hosting and the amazing documentation!
	</p>		   
</div>

<div class="center animation">
  <i class="fa fa-arrow-circle-up fa-3x" aria-hidden="true" class="" id="circleArrow"></i>
</div>
<div class="center">
  <%= link_to "Privacy Policy", "/privacy.html"%></br>
  <%= link_to "Credits", "/credits.html"%>
</div>
</section>
