<section id="video-container">   
  <video autoplay="autoplay", loop="true", muted="true", preload="none", poster="https://s3.eu-central-1.amazonaws.com/portfoliofabrizio/videos/runner_low.jpg">
    <source src="https://s3.eu-central-1.amazonaws.com/portfoliofabrizio/videos/runner.webm" type="video/webm">
    <source src="https://s3.eu-central-1.amazonaws.com/portfoliofabrizio/videos/runner.mp4" type="video/mp4">
    <source src="https://portfoliofabrizio.s3.eu-central-1.amazonaws.com/videos/runner.ogv" type="video/ogv" />
  </video>
  <div class="centered">
    <h1> <span>Hello!</span> I am Fabrizio</h1>      
    <%= link_to "View my Work", "#", {class: "button animation portfolio"} %>
    <a href="https://www.youtube.com/embed/e-xMvhm_rXQ" class="btn-pres" target="_blank">Video Presentation</a>
    <div class="links">
      <%= link_to "https://stackoverflow.com/users/7295772/fabrizio-bertoglio?tab=profile" do %><%= image_tag "library.svg" %><% end %>
      <%= link_to "https://github.com/fabriziobertoglio1987" do %><%= image_tag "github-character.svg", class: 'icon' %><% end %>
      <%= link_to "https://de.linkedin.com/in/fabriziobertoglio/en" do %><%= image_tag "linkedin.svg", class: 'icon' %><% end %>
      <%= link_to "https://www.upwork.com/o/profiles/users/_~01ae44247887fa908b/" do %><%= image_tag "startup.svg", class: 'icon' %><% end %>
    </div>
  </div>
</section>
